.menu-btn img {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjusst the height as needed */
}

.nav-bar {
  min-height: 70px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

nav {
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 120px;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 20px;
}

a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
}

a:hover {
  color: #007bff;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .nav-bar ul.open {
    display: flex;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .menu-btn span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #333333;
    margin: 6px 0;
    transition: background-color 0.3s ease;
  }

  .menu-btn.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-btn.open span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-bar ul li {
    margin: 20px 0;
  }
}
