/* Rockets.css */

.rockets-container {
  width: 90%;
  margin: 110px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.rocket-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.rocket-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rocket-details {
  padding: 20px;
  background-color: #f9f9f9;
}

.rocket-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.rocket-description {
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
}

.rocket-status {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items horizontally */
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.status.reserved {
  background-color: #ff4444;
  color: #fff;
}

.status.available {
  background-color: #4caf50;
  color: #fff;
}

.rocket-btn {
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reserve-btn {
  background-color: #4caf50;
  color: #fff;
}

.cancel-btn {
  background-color: #ff4444;
  color: #fff;
}

.rocket-btn:hover {
  background-color: #333;
}
